<section class="d-flex align-items-center justify-content-center">
  <div class="content d-flex">
    <!-- NavBar -->
    <div class="navbar">
      <div
        class="profile_info d-flex flex-column align-items-center justify-content-evenly"
      >
        <img
          src="https://wallpapers.com/images/featured/4co57dtwk64fb7lv.jpg"
          alt="profile_picture"
        />
        <h5>Rawane Sow</h5>
      </div>
      <div
        class="links d-flex flex-column align-items-center justify-content-evenly"
      >
        <a href="">
          <span class="link-mail mx-2">Boite de réception</span>
          <i class="far fa-bell">(0)</i>
        </a>
        <a routerLink="../account-validated" href="">Dossier</a>
        <a href="../charge-validation">Admission</a>
        <a href="" routerLink="../login">Déconnexion</a>
      </div>
    </div>
    <div class="account">
      <mat-icon class="menu">menu</mat-icon>
      <div class="first-part">
        <div class="mail p-5 d-flex justify-content-evenly">
          <div>
            <span>Demande d'admission</span>
          </div>
          <div>
            <span class="mx-2">Boite de réception</span>
            <i class="far fa-bell">(0)</i>
          </div>
        </div>
        <div
          class="new-doc p-3 d-flex align-items-center justify-content-center"
          routerLink="./ajout-demande"
        >
          <i class="fas fa-plus mx-2"></i>
          <span>Nouveau dossier</span>
        </div>
      </div>
      <div
        class="second-part d-flex flex-column justify-content-center align-items-center"
      >
        <i class="far fa-folder-open my-3" style="font-size: 5em"></i>
        <span>Vous n'avez aucun dossier</span>
      </div>
    </div>
  </div>
</section>
